.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    border-style: solid;
    border-radius: 20px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: orange;
    height: 59px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

#main {
    display: flex;
    justify-content: center;
    transition: margin-left .5s;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.nav {
    background-color: orangered;
}

.title {
    font-size: 10pt;
    width: 98%;
    margin-left: 1vw;
}

.titles {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

label {
    width: 100%;
    display: flex;
    font-size: 15pt;
    color: black;
    background-color: orange;
    border-radius: 0px;
}

body {
    height: 82%;
    width: 100%;
}

p {
    color: #f1f1f1;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 10pt;
}

p.titleManual {
    font-size: 10pt;
    color: black;
    font-style: oblique;
}

#labelNumber {
    margin-top: 10%;
}

#supportIcon {
    align-self: center;
    margin-top: 80%;
    width: 10%;
}

#labelNumber {
    border-radius: 30px;
    border-style: solid;
    font-size: 20pt;
    color: black;
    background-color: greenyellow;
}

a.menuOption {
    border-radius: 20px;
    border-style: solid;
    background-color: orange;
}

section {
    align-items: center;
}

.driverImg {
    width: 25;
    height: 25;
}

.returnImg {
    width: 25;
    height: 25;
}

.answer {
    background-color: orangered;
}

.question {
    background-color: rgb(39, 22, 22);
}

.question {
    width: 100%;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    color: black;
}

.answer {
    width: 100%;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    color: black;
}

.btSearch {
    font-size: 10pt;
    width: 100px;
    border-style: solid;
    border-radius: 10px;
}

.txtSearch {
    width: 100px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
}

.imgNoticia {
    width: 100%;
    height: 80%;
    margin-top: 100px;
    border-style: solid;
    border-radius: 10px;
}

.imgsNoticias {
    width: 90%;
    background-color: orange;
}

.noticiaTextos {
    position: relative;
    width: 50%;
    float: right;
    margin-top: 0px;
}

p.pNoticia {
    font-size: 20pt;
}

#noticias {
    width: 100%;
    height: 90%;
}
p.titlePage{
    font-size: 15pt;
    display: flex;
    margin-top: 1vw;    
    

}
p.indicieManual{
    color: black;
    text-justify: auto;
}